extends layouts/layout.pug

block content
  div(id='confirmDelete', style='display: none')
    h2 Are you sure you want to delete #{task.description}?
    .text-center
      button(type='button', class='btn btn-lg btn-danger text-center', id='deleteTaskButton', onclick='deleteTask()') Yes, Delete
  button(type='button', class='btn btn-info', onclick='window.history.back()') Back
  h1 #{task.description}
  h4 #{`Status: ${task.status}`}
  table(class='table table-dark table-bordered', id='pendingTaskTable')
    thead
      tr
        th(scope='col') Key
        th(scope='col') Value
    tbody
      each entry in Object.entries(task)
        - if(['entry', 'start', 'end', 'due', 'until', 'wait', 'modified', 'scheduled', 'recur', 'mask', 'imask', 'parent', 'priority', 'depends', 'tags', 'annotation'].find(tag=>tag==entry[0]))
          tr
            td #{entry[0]}
            td #{entry[1]}
  br/
  - if(task.status=='pending')
    button(type='button', class='btn btn-lg btn-danger pull-right', onclick='promptDelete()') Delete
    button(type='button', class='btn btn-lg btn-warning pull-right') Edit
    button(type='button', class='btn btn-block btn-lg btn-success', id='completeTaskButton', onclick='complete()') Complete
  - else if(task.status=='deleted')
    button(type='button', class='btn btn-block btn-lg btn-primary', id='unDeleteTaskButton', onclick='unDelete()') Undo Delete
  - else if(task.status=='completed')
    button(type='button', class='btn btn-block btn-lg btn-warning', id='unCompleteTaskButton', onclick='unComplete()') Undo Complete


block append scripts
  script var uuid = '#{task.uuid}'
  script(src='/scripts/taskw/taskCRUD.js')