extends layouts/layout.pug
include includes/tabs.pug
include includes/datetimepicker.pug
include includes/collapse.pug

block append cdn
  +addDateTimePickerCode
  script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js')

block content
  //Create new task form
  br/
  label(for='desc') New Task Description:
  input(type='text', class='form-control', id='desc', placeholder='Describe task here')
  br/
  +collapsePanel('advOps', 'Show advanced options')
    label
      input(type='checkbox', value='', id='addDueDate')
      | Add a due date
    br/
    label(for='dueDate') Task due:
    +addDateTimePicker('dueDate')
    label
      input(type='checkbox', value='', id='shouldRecur')
      | This task is recurring
    br/
    select(class='form-control', id='recurrType')
      option Daily
      option Weekly
      option Monthly
      option Annually
    hr/
    label(for='tags') Please add tags:
      input(type='text', class='form-control', placeholder='tagOne, tagTwo', id='tags')
    hr/
    label
      input(type='checkbox', value='', id='addWaitDate')
      | Add a wait date
    br/
    label(for='waitDate')
    +addDateTimePicker('waitDate')
    label
      input(type='checkbox', value='', id='addUntilDate')
      | Add an until date
    br/
    label(for='untilDate')
    +addDateTimePicker('untilDate')
  
  input(type='button', class='btn btn-lg btn-block btn-success', value='Create task', id='createTaskButton', onclick='create()')
  hr/
  br/

  //View list of pending tasks or view list of all tasks
  +tabBar('Pending', 'All')
  +beginTabPanel
    +addFirstTab('Pending')
      br/
      table(class='table table-dark table-hover', id='pendingTaskTable')
        thead
          tr
            th(scope='col') Description
            th(scope='col') Tags
            th(scope='col') Due
            th(scope='col') Urgency
        tbody
          each task in tasks
            tr(class='clickable-row', data-href='/taskw/'+task.uuid, style='cursor: pointer')
              td #{task.description}
              td #{task.tags}
              td #{task.due}
              td #{task.urgency}
    +addOtherTab('All')
      br/
      table(class='table table-dark table-hover', id='allTaskTable')
        thead
          tr
            th(scope='col') Description
            th(scope='col') Status
            th(scope='col') End
        tbody
          each task in allTasks
            tr(class='clickable-row', data-href='/taskw/'+task.uuid, style='cursor: pointer')
              td #{task.description}
              td #{task.status}
              td #{task.end}

block append scripts
  script(src='/scripts/taskw/tableRows.js')
  script(src='/scripts/taskw/create.js')