extends layouts/layout.pug
include includes/datetimepicker.pug

block append cdn
  +addDateTimePickerCode

block content
  //Edit task form
  div(id='editTaskForm', style='display: none')
    label(for='desc') Change task description:
    input(type='text', class='form-control', id='desc', value=task.description)
    br/
    button(type='button', class='btn btn-block btn-lg btn-success', id='updateTaskButton', onclick='updateTask()') Update Task
  
  //Task details
  button(type='button', class='btn btn-info', onclick='window.history.back()') Back
  h1 #{task.description}
  h4 #{`Status: ${task.status}`}
  table(class='table table-dark table-bordered', id='pendingTaskTable')
    thead
      tr
        th(scope='col') Key
        th(scope='col') Value
    tbody
      each entry in Object.entries(task)
        - if(['entry', 'start', 'end', 'due', 'until', 'wait', 'modified', 'scheduled', 'recur', 'mask', 'imask', 'parent', 'priority', 'depends', 'tags', 'annotation'].find(tag=>tag==entry[0]))
          tr
            td #{entry[0]}
            - if(['parent', 'depends'].find(tag=>tag==entry[0]))
              td
                a(href='/taskw/'+entry[1]) View linked task
            - else
              td #{entry[1]}
  br/
  - if(task.status=='pending' || task.status=='recurring')
    button(type='button', class='btn btn-lg btn-danger pull-right', id='deleteTaskButton', onclick='deleteTask()') Delete
    button(type='button', class='btn btn-lg btn-warning pull-right', id='editTaskButton', onclick='showEditTaskModal()') Edit
    - if(task.status!='recurring')
      button(type='button', class='btn btn-block btn-lg btn-success', id='completeTaskButton', onclick='complete()') Complete
  - else if(task.status=='deleted')
    button(type='button', class='btn btn-block btn-lg btn-primary', id='unDeleteTaskButton', onclick='makePending()') Undo Delete
  - else if(task.status=='completed')
    button(type='button', class='btn btn-block btn-lg btn-warning', id='unCompleteTaskButton', onclick='makePending()') Undo Complete


block append scripts
  script var uuid = '#{task.uuid}'
  script(src='/scripts/taskw/oneTask.js')