//- TODO, ask Austin what these files do
extends layouts/layout.pug
include includes/tabs.pug
include includes/datetimepicker.pug
include includes/collapse.pug

block append cdn
  +addDateTimePickerCode
  script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js')

block content
  +tabBar('Review', 'Timer')
  +beginTabPanel
    +addFirstTab('Review')
      table(class='table table-dark table-hover', id='allTimersTable')
            thead
              tr
                th(scope='col') &nbsp;
                th(scope='col') Start Time
                th(scope='col') End Time
                th(scope='col') Elapsed Time
                th(scope='col') Tags
                th(scope='col') Status
            tbody
              each timer, index in timers
                tr
                  td #{index + 1}
                  td #{timer.start}
                  td #{timer.end} 
                  td #{timer.elapsed}
                  td #{timer.tags.join(', ')}
                  td #{timer.status}
    +addOtherTab('Timer')
      h1 Add a new timer
      label Tags: 
        input(type='text', value='', class='form-control', id="timew-tags", placeholder='tagOne, tagTwo')
      input(type='button', class='btn btn-lg btn-primary', value='start timer'
        id='startTimerBtn', onClick='startTimer()')
      //- add functionality to the buttons later
      table(class='table table-dark table-hover', id='activeTimersTable')
            thead
              tr
                th(scope='col') &nbsp;
                th(scope='col') Start Time
                //- th(scope='col') Elapsed Time (stretch goal, live timers in these fields)
                th(scope='col') Tags
            tbody
              each timer, index in activeTimers
                tr
                  td #{index+1}
                  td #{timer.start}
                  //- td (where ellapsed time would go for stretch goals)
                  td #{timer.tags.join(', ')}
                  td
                    input(type='button', class='btn btn-sm btn-info', value='End Timer'
                    onClick=`endTimer('${timer.tags.join(', ')}')`)

block append scripts
  script(src='/scripts/timew/tableRows.js')
  script(src='/scripts/timew/timers.js')